@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  flex-direction: column;

}
.container{
  max-width: 80rem;
  margin: 0 auto;
  height: 150vh;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  margin-bottom: 100px;
}
.App.light{
  background: #fff;
  color: #000;
  width: 100%;
}
.App.dark{
  background: #404040;
  color: #fff;
  width: 100%;
}

@media screen and (max-width:875px) {
  .container{
    max-width: 80rem;
    margin: 0 auto;
    height: 200vh;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    margin-bottom: 100px;
  }
}
